body {
  margin: 5rem;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

.container {
  display: flex;
  justify-content: flex-start;
}

.Product-form{
  margin: 5rem;
}




